/.ConcurrencyHeuristic.java._trace
/.FilteringHeuristic.java._trace
/.FullyOverlapHeuristic.java._trace
/.MaxNumberOfStepsHeuristic.java._trace
/.NonIdentityElementsHeuristic.java._trace
/.OverlapHeuristic.java._trace
/.SetOfRulesHeuristic.java._trace
/.HeuristicsRegistry.java._trace
/.ConcurrencyHeuristic.xtendbin
/.FilteringHeuristic.xtendbin
/.FullyOverlapHeuristic.xtendbin
/.HeuristicsRegistry.xtendbin
/.MaxNumberOfStepsHeuristic.xtendbin
/.NonIdentityElementsHeuristic.xtendbin
/.OverlapHeuristic.xtendbin
/.SetOfRulesHeuristic.xtendbin
/ConcurrencyHeuristic.java
/FilteringHeuristic.java
/FullyOverlapHeuristic.java
/HeuristicsRegistry.java
/MaxNumberOfStepsHeuristic.java
/NonIdentityElementsHeuristic.java
/OverlapHeuristic.java
/SetOfRulesHeuristic.java
/.Heuristic.java._trace
/.Heuristic.xtendbin
/Heuristic.java
