/.Heuristic.java._trace
/.FilteringHeuristic.java._trace
/.ConcurrencyHeuristic.java._trace
/.HeuristicDefinition.java._trace
/.HeuristicsRegistry.java._trace
/.LaunchConfigurationContext.java._trace
/.Strategy.java._trace
/.ConcurrencyStrategy.java._trace
/.FilteringStrategy.java._trace
/.StrategyDefinition.java._trace
/.StrategyRegistry.java._trace
