/.FilteringHeuristicDefinition.java._trace
/.MaxNumberOfStepsHeuristic.java._trace
/.MaxNumberOfStepsHeuristicDefinition.java._trace
/.NonIdentityElementsHeuristic.java._trace
/.NonIdentityElementsHeuristicDefinition.java._trace
/.FilteringStrategyDefinition.java._trace
/.MaxNumberOfStepsStrategy.java._trace
/.MaxNumberOfStepsStrategyDefinition.java._trace
/.NonIdentityElementsStrategy.java._trace
/.NonIdentityElementsStrategyDefinition.java._trace
