/.HenshinXDsmlSpecificationIdeModule.java._trace
/.HenshinXDsmlSpecificationIdeModule.xtendbin
/.HenshinXDsmlSpecificationIdeSetup.java._trace
/.HenshinXDsmlSpecificationIdeSetup.xtendbin
/HenshinXDsmlSpecificationIdeModule.java
/HenshinXDsmlSpecificationIdeSetup.java
