<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType
			delegate="uk.ac.kcl.inf.modelling.xdsml.gemoc_henshin.engine.ui.launcher.HenshinConcurrentEngineLauncher"
			id="uk.ac.kcl.inf.modelling.xdsml.gemoc_henshin.launcher"
			modes="run,debug"
			name="Henshin-Based Concurrent eXecutable Model"
			public="true"
			sourceLocatorId="org.eclipse.gemoc.execution.concurrent.ccsljavaengine.ui.sourceLocator">
		</launchConfigurationType>
	</extension>
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
        class="uk.ac.kcl.inf.modelling.xdsml.gemoc_henshin.engine.ui.launcher.LauncherTabGroup"
        id="uk.ac.kcl.inf.modelling.xdsml.gemoc_henshin.launcher.tabGroup"
        type="uk.ac.kcl.inf.modelling.xdsml.gemoc_henshin.launcher">
		</launchConfigurationTabGroup>
	</extension>
 <extension
       point="org.eclipse.ui.views">
    <view
          category="org.eclipse.gemoc.executionframework.ui.category"
          class="uk.ac.kcl.inf.modelling.xdsml.gemoc_henshin.engine.ui.strategy_selector.StrategySelectionView"
          id="org.eclipse.gemoc.executionframework.engine.io.views.StrategySelectionView"
          name="Strategy Selection"
          restorable="true">
    </view>
 </extension>
</plugin>
